body{
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(blue,rgb(2, 241, 102));
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px black;
}

    /* display: flex;
    flex-direction: column;
    align-items: center; */

    /* justify-content:
    start, center, end, space-around, 
    space-evenly, space-between
    
    align-items:
    start, center, end */

/* 1st div */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-title {
    font-size: 90px;
}

#face{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px solid #0fc2eb;
}

#age {
    background-color: #0fc2eb;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

#date {
    background-color: #0fc2eb;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

/* 2nd div */
#gift {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#gift-title {
    font-size: 60px;
}

.div-img {
    background-image: url(giftcover.png);
    background-size: 610px;
    width: 600px;
    height: 600px;
    border: 8px solid white;
    border-radius: 5px;
}

#gift-img:hover {
    background-image: url(gpl.png);
    background-size: 600px 600px;
}

/* 3rd div */
#weapons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#weapon-title {
    font-size: 50px;
}

#weapons-img:hover {
    background-image: url(weapons.png);
    background-size: 600px 600px;
}